.support {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 3%;
  column-gap: 4%;
  .left {
    width: 50%;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    width: 30%;
    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 20px;
      color: #4255a4;
    }
    p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
    button {
      background-color: #febd80;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}
@media only screen and (max-width: 867px) {
  .support {
    flex-direction: column;
    .left {
      width: 100%;
      margin-bottom: 20px;
    }
    .right {
      width: 100%;
    }
  }
}
