.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
  margin-top: -90px;
  .card {
    width: calc(100% / 4 - 60px);
    margin: 0 15px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }

    h3 {
      font-size: 20px;
      margin-bottom: -10px;
    }
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
