.about {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding: 5%;
  margin: 5% 0%;
  .left {
    width: 50%;
    padding: 20px;
    .svg {
      width: 100%;
      height: 100%;
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px;
        border-radius: 50px;
        background: rgb(216, 110, 255);
        background: linear-gradient(
          180deg,
          rgba(216, 110, 255, 1) 5%,
          rgba(97, 116, 253, 1) 100%,
          rgba(0, 212, 255, 1) 100%
        );
      }
    }
    .text {
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: #4255a4;
        margin-bottom: 10px;
      }
    }
    .desc {
      p {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
    .features {
      .single-features {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
    }
  }
  .right {
    width: 40%;
    height: 100%;
    padding: 25px;
    .video {
      position: relative;
      width: 100%;
      .play{
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 2rem;
            padding: 15px;
            border-radius: 50%;
            background-color: #febd80;
            color: white;
            cursor: pointer;
        }
      }
    }
  }
}
